body {
    background: #353b48;
    width: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Concert One', cursive;
    color: #ffffff;
}

#main {
    position: relative;
    display: flex;
    
    width: 75%;
    height: auto;
    margin: 0 auto;
    background: #718093;
    border-radius: 10px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#main h1 {
    position: relative;
    top: -15px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    
    text-shadow: 5px 5px 15px rgba(0,0,0,0.8);
}

#main q1 {
    position: relative;
    top: -15px;

    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 0 5px;
}

.gallery {
    display: flex;

    background: grey;

    width: 50%;
    height: auto;
    margin: auto;

    padding: 10px;

    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.gallery a {
    border: solid white 2px;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

    color: white;
    text-decoration: none;
}

.gallery a h1 {
    font-size: 25px;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
}


@media only screen and (min-width: 768px)
{
    #main {
        display: flex;
        
        width: 60%;
        height: auto;
        margin: 0 auto;
        background: #718093;
        border-radius: 20px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    #main h1 {
        font-size: 50px;
        color: #ffffff;
        text-align: center;
        
        text-shadow: 5px 5px 15px rgba(0,0,0,0.8);
    }

    #main q1 {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        
        padding: 15px;
    }

}
