body {
    background: #353b48;
    width: 100%;
    margin: auto;
}

#main {
    width: 70%;
    margin: auto;
    background: #718093;
    border-radius: 30px;
}

#main h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

#main q{
    font-size: 20px;
    color: white;
    text-align: center;
}
